@model IEnumerable<Employee>
@{
    Layout = "_Landing";
    string strTitle = "Сотрудники";
    ViewBag.Title = strTitle;

}

<div class="inner">

    @{
        if (TempData["Message"] != null)
        {
            
            <span style="color:red">@TempData["Message"] </span>

        }
    }
    <br />
    <h3>@strTitle</h3>

    <div class="table-wrapper">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Должность</th>
                    <th>Оклад</th>
                    <th>Адрес</th>
                    <th>Номер</th>
                    <th>Премия</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.PostNavigation.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Premium)</td>

                    <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.IdEmpl" class="button primary small">Изменить</a></td>
                    <td>
                        <form asp-controller="Employee" asp-action="Delete" method="post" asp-route-id="@item.IdEmpl">
                            <input type="hidden" asp-for="@item.IdEmpl">
                            <input type="submit" value="Удалить" class="button  small" />
                        </form>
                    </td>
                    <td><a asp-controller="Employee" asp-action="Salary" asp-route-id="@item.IdEmpl" class="button primary small">Зарплата</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />

    <a asp-controller="Employee" asp-action="Edit" asp-route-id="" class="button next scrolly">Добавить сотрудника</a>
    <br />

</div>
